@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Italic-VariableFont_wght.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main{
    max-width: 1500px;
    margin: auto;
}

h1{
    font-family: "Raleway", sans-serif;
}

p, button, span, li{ 
    font-family: 'Lora', sans-serif;
}

hr{
    background-color: black;
    margin: auto;
    width: 95%;
    height: 3px;
    margin-top: 100px;
    margin-bottom: 50px;
}

header{
    background-color: black;
    width: 100%;
    padding: 10px;
}

header .caixa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
}

header .caixa button{
    position: relative;
    left: -10px;
    background-color: #13b413;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    animation: cor 1s infinite alternate;
    transition: .5s ease;
}

header .caixa button:hover{
    background-color: #0e850e;
    transform: scale(1.09);
}

@keyframes cor {
    0%{
        box-shadow: 0px 0px 1px rgb(0, 255, 0);
    } 100%{
        transform: scale(1.03);
        box-shadow: 0px 0px 5px rgb(0, 255, 0);
    }
}

header img{
    border-radius: 50%;
    width: 70px;
    cursor: pointer;
}

main{
    background-color: #F2E2CE;
}

section{
    max-width: 1500px;
    max-height: 900px;
    margin: auto;
}
.sec1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 90px;
}

.sec1 .sec1Text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec1 .sec1Text h1{
    font-family: 'Righteous' sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}

.sec1 .sec1Text p{
    width: 500px;
    font-size: 1.2rem;
    text-indent: 25px;
}

.sec1 .sec1Text button{
    margin-top: 30px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid black;
    transition: transform 0.3s ease;
}

.sec1 .sec1Text button:hover{
    transform: scale(1.09);
}

.sec1 .sec1Img img{
    border-radius: 10px;
    border:2px solid black;
    width: 500px;
}

.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    max-height: 600px;
}

.sec2 .sec2Text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 550px;
}

.sec2 .sec2Text h1{
    font-size: 2.3rem;
}

ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    list-style: none;
    margin-top: 50px;
}
ul li{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding-bottom: 10px;
    font-size: 20px
}
ul .li4{
    border-right: 0px;
}

ul .liBottom{
    border-top: 1px solid black;
}

ul .li8{
    border-right: 0px;
}

ul li span{
    width: 100%;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 100%;
    font-weight: bold;
}

li img{
    width: 100px;
    margin-bottom: 10px;
}